{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Forum</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </button>
        <div class="dropdown-menu">
        {% for category in categories %}
          <a class="dropdown-item" href='{{ path('post_index_cat', {'cat': category.name}) }}' >{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>

    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
    <a class="btn btn-success" href="{{ path('post_new') }}">Create new</a>
{% endblock %}
